[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BED"]
	path = BED
	url = https://github.com/patzaw/bed
[submodule "ClickHouseHTTP"]
	path = ClickHouseHTTP
	url = https://github.com/patzaw/clickhousehttp
[submodule "ReDaMoR"]
	path = ReDaMoR
	url = https://github.com/patzaw/redamor
[submodule "TKCat"]
	path = TKCat
	url = https://github.com/patzaw/tkcat
[submodule "neo2R"]
	path = neo2R
	url = https://github.com/patzaw/neo2r
